/* SECTIONS */
.section-title{
    text-align: center;
}

/* CARDS */
.card-elem{
    background-color: #000;
    height: 400px;
    color: #ecebe6;
    text-align: center;   
    border-radius: 50px;
}

.bottom-txt{
    position: absolute;
    bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.top-txt{
    position: absolute;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/* MOUNTAIN BACKGROUND */
.images-container{
    position: relative;
}

.ripped-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.title-img{
    z-index: 1;
    width: 100%;
    margin-bottom: 48px;
}

.img-txt{
    position: absolute;
    right: 0;
    top: 50%;
    color: #ecebe6;
    text-align: right;
    padding-right: 72px;
    font-size: 500%;
}

/* MAPS */
.gmaps{
    max-width: 100%;
}